.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.degradado {
  background: linear-gradient(135deg, #4db6e2 0%, #ffd93b 50%, #ff6f61 100%);
}

.logo {
  width: 150px;
  margin: 5px auto;
}

.options li > a {
  font-size: 16px;
  color: black !important; /* asegúrate que sobrescriba bootstrap */
  border-radius: 200px;
  padding: 10px;
  text-decoration: none;
}

.options li > a:hover {
  transform: scale(1.05);
  color: black !important; /* asegúrate que sobrescriba bootstrap */
  background-color: rgba(255, 255, 255, 0.2);
}

.boton {
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: black;
  border-radius: 200px;
  border: #4db6e2 2px solid;
  background-color: #4db6e2;
  padding: 5px 15px;
}

.boton:hover {
  transform: scale(1.05);
  color: white;
  background-color: #4db6e2;
  border: #4db6e2 2px solid;
  transition: all 0.3s ease;
}

ul {
  margin-bottom: 0 !important;
}
